
function autoCompleteInput(current_inp, key) {
    // call this function on input
    var a, b, i, val = current_inp.value;
    /*close any already open lists of autocompleted values*/
    closeAllLists(current_inp.target, current_inp);
    if (!val) {
        return false;
    }

    /*create a DIV element that will contain the items (values):*/
    a = document.createElement("DIV");
    a.setAttribute("id", current_inp.id + "autocomplete-list");
    a.setAttribute("class", "autocomplete-items");
    /*append the DIV element as a child of the autocomplete container:*/
    current_inp.parentNode.appendChild(a);
    console.log(a)
    /*for each item in the array...*/
    console.log("val", val)
    const arr = datas_need[key]
    for (let name in arr) {
        /*check if the item starts with the same letters as the text field value:*/
        name = name.toUpperCase()
        if (name.toUpperCase().match(RegExp(val.toUpperCase()))) {
            console.log("name", name, val);
            /*create a DIV element for each matching element:*/
            b = document.createElement("DIV");
            /*make the matching letters bold:*/
            let index = name.match(RegExp(val.toUpperCase())).index
            b.innerHTML = name.substr(0, index) + "<strong>" + name.substr(index, val.length) + "</strong>";
            b.innerHTML += name.substr(index + val.length,);
            /*insert a input field that will hold the current array item's value:*/
            b.innerHTML += "<input type='hidden' value='" + name + "'>";
            /*execute a function when someone clicks on the item value (DIV element):*/
            b.addEventListener("click", function (e) {
                /*insert the value for the autocomplete text field:*/
                console.log(e, "hey", this.getElementsByTagName("input")[0].value)
                current_inp.value = this.getElementsByTagName("input")[0].value;
                try {
                    updateItemIdAndVolume(current_inp.value);
                }
                catch (e) {
                    console.log(e);
                }
                /*close the list of autocompleted values,
                (or any other open lists of autocompleted values:*/
                closeAllLists(e.target);
            });
            a.appendChild(b);
        }
    }
}
const focus = { currentFocus: -1 }
function keyDownAutoCompletion(e, element) {
    var x = document.getElementById(element.id + "autocomplete-list");
    if (x) x = x.getElementsByTagName("div");
    ;

    if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        focus.currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x, focus.currentFocus);
    } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        focus.currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x, focus.currentFocus);
    } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (focus.currentFocus > -1) {
            /*and simulate a click on the "active" item:*/
            if (x) x[focus.currentFocus].click();
        }
    }
}
function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (focus.currentFocus >= x.length) focus.currentFocus = 0;
    if (focus.currentFocus < 0) focus.currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[focus.currentFocus].classList.add("autocomplete-active");
}

function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
        x[i].classList.remove("autocomplete-active");
    }
}

function closeAllLists(elmnt, inp) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
        if (elmnt != x[i] && elmnt != inp) {
            x[i].parentNode.removeChild(x[i]);
        }
    }
}

// this function tend to be useless

// function autocomplete(inp) {
//             /*the autocomplete function takes two arguments,
//             the text field element and an array of possible autocompleted values:*/

//             const arr = datas_need["data"];

//             console.log("inside of ", inp);
//             /*execute a function when someone writes in the text field:*/
//             inp.addEventListener("input",

//             autoCompleteInput
//             );
//             /*execute a function presses a key on the keyboard:*/
//             inp.addEventListener("keydown",
//             keyDownAutoCompletion

//             );
//         }

document.addEventListener("click", function (e) {
    closeAllLists(e.target);
});