{% extends 'base/base.html' %}

{% block title %}Create Sales{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Sales</a></li>
                            <li class="active">{% if creating %}Create{% else %}Update{% endif %}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">{% if creating %}Create{% else %}Update{% endif %} Sales</strong>
            </div>
            <div class="card-body">
                <!-- Credit Card -->
                <div id="pay-invoice">
                    <div class="card-body">
                        <form action="#" method="post" onsubmit="return handleSubmit()">
                            {% csrf_token %}

                            <div class="form-group">
                                <label for="item" class="control-label mb-1">Item</label>
                                <input type="text" name="item_name" class="form-control" id="item_name" required=""
                                 oninput="handleInput(this,'items')"
                                       onkeydown="handleKeyDwon(event,this)"
                                       value="{{ item_name }}"
                                >

                                {{ form.item }}
                            </div>
                            <div class="form-group">
                                <label for="orde" class="control-label mb-1">Sale Date</label>
                                {{ form.date }}
                            </div>

                            <div class="form-group">
                                <label for="quantity" class="control-label mb-1">Quantity</label>
                                {{ form.quantity }}
                            </div>
                            <div class="form-group">
                                <label for="unit_price" class="control-label mb-1">Unit Price</label>
                                {{ form.unit_price }}
                            </div>

                            <div>
                                <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                    <span id="payment-button-amount">{% if creating %}Create{% else %}Update{% endif %} Sale</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div> <!-- .card -->

    </div><!--/.col-->
</div>
    <script>
        {% include "vinea/autocompletionJs.html" %}
        let datas_need = {
        }

        const URL = "http://127.0.0.1:8000/"
        let values = async () =>{
            try {
                const fetch_data = await fetch(`${URL}api_items_list`);
           const arr = await  fetch_data.json();
           datas_need["items"] = arr;
            }catch (e) {
                console.log(e)
            }
        }
     const handleSubmit =  () => {
         try {


            const inp_item_name = document.getElementById("item_name");
              document.getElementById("item").value = datas_need["items"][inp_item_name.value];
                // TODO: handle case where supplier is not in data needed list
             console.log(document.getElementById("item"),inp_item_name.value,datas_need["items"][inp_item_name.value])
            return true;

         } catch (e) {
            // TODO: make feedback to the user to inform him about the error cause
             return false;
         }

     }
        const handleInput = (e,key)=>{
            autoCompleteInput(e,key);
        }
        const handleKeyDwon =(event,el) => {
            keyDownAutoCompletion(event, el)
        }

            document.getElementById("item").type = "hidden"


     values().then((e)=>console.log("finished loading data"))
    </script>
{% endblock content %}