{% extends 'base/base.html' %}

{% block title %}Create Supplier{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Supplier</a></li>
                            <li class="active">{% if creating %}Create{% else %}Update{% endif %}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">{% if creating %}Create Supplier{% else %}Update Supplier{% endif %}</strong>
            </div>
            <div class="card-body">
                <!-- Credit Card -->
                <div id="pay-invoice">
                    <div class="card-body">
                        <form action="#" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Supplier Name</label>

                                {{ form.supplier_name }}
                            </div>
                            <div class="form-group">
                                <label for="address" class="control-label mb-1">Address</label>
                                {{ form.address }}
                            </div>
                            <div class="form-group">
                                <label for="email" class="control-label mb-1">Email</label>
                                {{ form.email }}
                            </div>
                            <div class="form-group">
                                <label for="username" class="control-label mb-1" id="label_contact">Contact</label>
{#                                <input type="text" name="phone" class="form-control" id="phone" required="">#}

                                {{ form.contact }}
                            </div>
                            <div>
                                <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                    <span id="payment-button-amount">{% if creating %}Create Supplier{% else %}Update Supplier{% endif %}</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div> <!-- .card -->

    </div><!--/.col-->
</div>
    <script src="https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/js/intlTelInput.min.js"></script>
<script>
  const input = document.querySelector("#phone");
  window.intlTelInput(input, {
    utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/js/utils.js",
  });
document.getElementById("label_contact").nextSibling.nextSibling.style.display="flex";
{#document.getElementById("contact").type = "hidden"#}
</script>
{% endblock content %}